body {
  /* background-color: darkred; */
  min-height: 100%;
}

.body-body {
  /*     background-image: url(../bookmarket/images/background_home2.jpg);
 */
  background-color: #000000e1;
  color: #333333;
  padding-top: 5rem;
  min-height: 100%;
}

.body-body2 {
  background-image: url(../bookmarket/images/background_home4.jpg);
  align-text: center;
  color: #333333;
  padding-top: 5rem;
  min-height: 100%;
}

.wrapper {
  text-align: center;
  border: none;
  padding: 30px 60px;
  height: 100%;
  line-height: 50%;
  text-decoration: none;
  text-align: left;
  display: list-item;
  font-size: 16px;
}

#container p {
  text-align: center;
  text-transform: uppercase;
  text-shadow: #2c2c2c 3px 3px 5px;
}

.pm_message {
  text-align: center !important;
  color: #fff;
  margin-top: 2rem;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

table {
  border: 2px solid #555;
  border-collapse: collapse;

  font: 22px "Lucida Grande", "Helvetica", "Arial", sans-serif;
}

th,
td {
  border: 1px solid #bbb;
  padding: 2px 8px 0;
  text-align: left;
}

thead>tr>th {
  background-color: #cce;
  font-size: 30px;
  border-bottom: 2px solid #999;
}

.cont {
  align-items: center;
  align-content: center;
  text-align: center !important;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  margin-top: 20%;
  margin-bottom: 20%;
  text-shadow: #2c2c2c 3px 3px 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.bg-red {
  background-color: #a33003;
  /* background: linear-gradient(to right, rgb(207, 75, 75), rgb(192, 57, 3), rgb(207, 75, 75)); */
  background: linear-gradient(to right, darkred, rgb(192, 57, 3), darkred);
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.general-section {
  background-color: white;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.8rem;
}

.general-header-container {}

.content-section {
  background: #fff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 2rem;
  padding: 1rem;
  box-shadow: inset 0 0 10px #000000;
}

.add-message-container {
  background: #fff;
  border: 5px solid #000000;
  border-radius: 6px;
  box-shadow: inset 0 0 30px #0062cc;
}

.profile-container {
  height: 50vw;
}

.activity-section {
  background: #fff;
  border: 0.1rem solid black;
  border-radius: 0.7rem;
  padding: 1rem;
  max-height: 85vh;
  overflow: auto;
  margin-bottom: 1rem;
}

.activity-section2 {
  background: #fff;
  border: 0.1rem solid black;
  border-radius: 0.7rem;
  padding: 1rem;
  max-height: 50rem;
  overflow: auto;
  margin-bottom: 1rem;
}

.activity-post {
  box-shadow: black;
  border: 0.01rem solid grey;
}

.menu-section {
  background: #fff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 2rem;
  padding: 0.5rem;
  box-shadow: inset 0 0 10px #000000;
}

.menu-bar {
  font-size: 14;
}

.profile-container {
  min-width: 25vw;
}

.article-title-container {
  margin-bottom: 0.5rem;
  word-wrap: break-word;
}

.article-title {
  color: #444444;
  font-size: 1.6rem;
  line-height: 1.8rem;
}

a.article-title:hover,
h5.article-title:hover {
  color: #428bca;
  text-decoration: none;
  cursor: pointer;
}

.article-content {
  white-space: pre-line;
  font-size: 1.1rem;
}

.profile-image-container {
  float: left;
  width: 2.5rem;
  height: auto
}

.article-img {
  height: 50px;
  width: 50px;
  margin-right: 16px;
  float: left;
}

.article-metadata {
  border-bottom: 0.05rem solid black;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
}

.account-heading {
  font-size: 1.5rem;
}

.text-secondary {
  font-size: 1rem;
  word-wrap: break-word;
}

.mr-2 {
  color: #0062cc;
}

.post-image {
  padding: 1rem;
  text-align: center;
}

.post-admin {
  display: flex;
  flex-direction: row;
  margin-right: 0.5rem;
}

.post-button-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  /*     margin-left: 0.5rem; */
}

.post-button {
  color: #0062cc;
  margin-right: 0.1rem;
}

.post-information {
  margin-top: 1rem;
}

.post-bar {
  display: flex;
  justify-content: space-between;
}

.post-delete-buttons {
  margin-right: 1rem;
  margin-left: 1rem;
}

.tab {
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* border: 0.01rem solid #ccc; */
  margin-bottom: 1rem;
  border-radius: 1rem;
  /* background-color: #f1f1f1; */
  background-color: #c63f2a;
}

.home-container {
  /* background-color: #c63f2a; */
  border-radius: 1rem;
  /* border: 1px solid #000000ce; */
  margin-bottom: 0.2rem;
}

div.scrollmenu {
  /*     background-color: #333; */
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu button {
  background-color: #c63f2a;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0.4rem 1rem 0.4rem 1rem;
  text-decoration: none;
  /* background-color: transparent; */
  border-color: transparent;
  border-radius: 0.8rem;
  font-weight: 500;
  font-size: 1rem;
}

div.scrollmenu button:hover {
  color: black;
  background-color: #ddd;
}

.group-button-active {
  color: black !important;
  background-color: white !important;
}

.group-button-active-user {
  color: black !important;
  background-color: white !important;
  /* 
    border-color: red !important; */
}

.tab button {
  color: white;
  font-weight: 500;
  background-color: inherit;
  border-radius: 1rem;
  /* border-radius: 10% / 50%; */
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.8rem;
  transition: 0.3s;
  font-size: 1rem;
  /* margin: 0rem 0.5rem 0rem 0.5rem */
}

.tab button:hover {
  color: black;
  background-color: #ddd;
}

.tab-button-active {
  color: black !important;
  background-color: white !important;
}

.carousel {
  background-color: rgba(214, 211, 211, 0.877);
}

.carousel-image-container {
  position: relative;
}

.carousel-image-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  font-size: 12;
  /* transition effect. not necessary */
}

.carousel-image-container:hover .carousel-image-caption {
  visibility: visible;
  opacity: 1;
}

.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carousel-indicators {
  position: relative;
}

ol {
  margin-bottom: 0rem !important;
}

.carousel-control-prev,
.carousel-control-next {
  position: relative;
}

.no-images {
  text-align: center;
}

#no-images {
  background-color: rgba(214, 211, 211, 0.877);
  box-shadow: inset 0 0 2px #000000;
  padding: 0.3rem;
  font-size: 12;
}

.post-footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-right: 0.1rem;
  margin-left: 0.1rem;
  vertical-align: middle;
  border-top: 0.05rem solid black;
  padding-top: 1rem;
}

#post-type {
  float: right;
  text-shadow: 1px 1px #dbd8d8;
}

.btn-primary:hover {
  background-color: #0d4b8e !important;
}

.btn-primary2:hover {
  background-color: gray !important;
}

.btn-primary {
  background-color: #1071da !important;
}

.btn-primary2 {
  background-color: darkgray !important;
}

.btn-outline-primary {
  background-color: #249afa !important;
}

.comments {
  border-radius: 3px;
  margin-bottom: 1rem;
}

.comment-section {
  background: #ffffff;
  border: 1px solid #dddddd;
  padding: 0rem 1rem 1rem 1rem;
}

.comment-top {
  text-align: right;
  padding-top: 1rem;
  margin-left: 0.5rem;
}

#comment-section-header {
  float: left;
}

.comment-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.comment-info-container {
  flex-grow: 8;
}

.parent-comment {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-side-container {
  display: flex;
  flex-direction: column;
}

.comment-reply-form-container {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 6rem;
}

.reply-input {
  flex-grow: 4;
  margin-right: 0.5rem;
}

.reply-button {
  flex-grow: 1;
}

.comment-reply-button {
  margin-left: 0.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-reply:hover {
  cursor: pointer;
  color: blue;
}

.reply-container {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.reply-container-active {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.more-replies {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.reply-subdir {
  width: 3rem;
}

.comment-like-container {
  margin-left: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.comment-like-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-like-button {
  font-size: 28px !important;
}

.comment-like-count {
  font-size: 1rem;
}

.no-padding {
  padding: 0;
}

.comment-like-count {
  margin-bottom: 1em;
  width: 1rem;
}

.cardFont {
  margin-left: 40%;
  width: 60%;
  /*margin: 1rem 0rem 0 0rem;*/
}

.card {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.card2 {
  text-size-adjust: 100px;

  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  margin-top: 20%;
  margin-bottom: 20%;
  border-radius: 1rem;

  /*margin: 1rem 0rem 0 0rem;*/
}

.card4 {
  margin-left: 0%;
  margin-right: 0vmax;
  width: max-content;
  text-align: center;
  display: inline-block;

  margin-bottom: 5px;

  /*margin: 1rem 0rem 0 0rem;*/
}

.bubbledMiddle {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  min-width: 60%;
  max-width: 60%;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 8px 8px 8px 0px;
  -moz-border-radius: 8px 8px 8px 0px;
  -o-border-radius: 8px 8px 8px 0px;
  -ms-border-radius: 8px 8px 8px 0px;
  border-radius: 8px 8px 8px 0px;
  background-color: #65b045;
  color: #ffffff;
}

.commentArea4 {
  font: auto Arial;
  padding: 0 10px;
  margin-top: 1rem;
  color: black !important;
  background-color: #f8f9f9;
  border-style: solid;
  border-width: 2px;
  border-radius: 1rem;
  width: 80%;
  min-width: 80%;
  border-color: #c63f2a;
}

.commentArea3 {
  font: auto Arial;
  padding: 0 10px;
  margin-top: 2rem;
  color: black !important;
  background-color: #f8f9f9;
  border-style: solid;
  border-width: 2px;
  border-radius: 1rem;

  width: 60%;
  min-width: 60%;

  border-color: #c63f2a;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.commentArea2 {
  font: auto Arial;
  padding: 0 10px;
  margin-top: 2px;
  display: inline-block;

  color: black !important;
  background-color: #f8f9f9;
  border-style: solid;
  border-width: 2px;
  border-radius: 1rem;

  width: 70%;

  border-color: #c63f2a;
}

.commentArea6 {
  font: auto Arial;
  padding: 0 10px;
  margin-top: 2px;

  background-color: #f8f9f9;
  display: inline-block;
  align-self: center;
  width: 100%;
  min-height: 30rem;
  max-height: 30rem;
}

.commentArea {
  font: auto Arial;
  padding: 0 10px;
  margin-top: 2px;
  color: whitesmoke !important;
  background-color: #f8f9f9;
  border-style: solid;
  border-width: 2px;
  border-radius: 1rem;
  display: inline-block;
  align-self: center;
  width: 80%;
  min-width: 80%;
  min-height: 15rem;
  max-height: 45rem;
  border-color: #c63f2a;
}

.bubbledLeft,
.bubbledRight {
  margin-top: 20px;
  padding: 5px 9px;
  max-width: 50%;
  clear: both;
  position: relative;
}

.bubbledLeft {
  margin-left: 2%;
  margin-right: 60%;
  min-width: 38%;
  min-height: 1rem;
  max-width: 38%;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 8px 8px 8px 0px;
  -moz-border-radius: 8px 8px 8px 0px;
  -o-border-radius: 8px 8px 8px 0px;
  -ms-border-radius: 8px 8px 8px 0px;
  border-radius: 8px 8px 8px 0px;
  background-color: gray;
  color: #ffffff;
}

.bubbledLeft:before {
  border-bottom: 10px solid gray;
  border-left: 9px solid rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  left: -8px;

  content: "";
}

.bubbledRight {
  display: inline-block;

  margin-left: 60%;
  margin-right: 2%;
  background-color: blue;
  word-wrap: break-word !important;
  min-width: 38%;
  max-width: 38%;
  min-height: 2rem;

  color: blue;
  text-align: center;
  -webkit-border-radius: 8px 8px 0px 8px;
  -moz-border-radius: 8px 8px 0px 8px;
  -o-border-radius: 8px 8px 0px 8px;
  -ms-border-radius: 8px 8px 0px 8px;
  border-radius: 8px 8px 0px 8px;
  background-color: #07d;
  color: white;
}

.bubbledRight:before {
  border-bottom: 9px solid #07d;
  border-right: 9px solid rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  right: -8px;
  content: "";
}

.messcardme {
  text-size-adjust: 100px;
  margin-left: 50%;
  background-color: blue;
  color: blue;
  display: flex;
  border-radius: 30% !important;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border-color: #a33003;

  /*margin: 1rem 0rem 0 0rem;*/
}

.messcardother {
  text-size-adjust: 100px;
  margin-right: 50%;
  display: flex;
  background-color: red;
  border-radius: 30% !important;
  content: "\00a0";

  color: white;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border-color: blue !important;

  /*margin: 1rem 0rem 0 0rem;*/
}

.card2:hover {
  color: #a33003;
}

.card4:hover {
  color: blue;
}

.card3 {
  color: #ffffff;

  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  margin-top: 5%;
  margin-bottom: 5%;

  /*margin: 1rem 0rem 0 0rem;*/
}

.postman {
  display: flex;
  align-items: center;
}

.floater {
  float: left;
  height: 20rem;
  width: 100%;
  margin-bottom: 5rem;
}

.child {
  clear: both;
  height: 100px;
}

.add-message-icons {
  font-size: 100px !important;
}

.card-body {
  padding: 1rem 0rem 0rem 0rem !important;
  word-break: break-all;
}

.card2-body {
  display: flex;
  justify-content: center;
  /* align horizontal */
}

#add-comment-header {
  text-align: center;
  display: flex;
  justify-content: center;
}

.filter-bar-header {
  border-bottom: 0.1rem solid black;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.05);
}

.filter-bar-body {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

label {
  font-size: 1rem;
}

textarea {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 5rem;
}

.add-comment-button {
  /*text-align: center;
    padding-bottom: 1.25rem;*/
}

#delete-comment-button {
  padding-right: 0.5rem;
}

#update-comment-button {
  /*float: right;*/
  padding-right: 0.5rem;
}

.comment-photo {
  height: 2rem;
  width: 2rem;
}

#dropdown-right {
  border-color: transparent !important;
}

.dropdown-menu {
  min-width: 3rem;
}

#dropdown-left {
  border-color: transparent !important;
}

#post-more-menu:hover {
  cursor: pointer;
}

.dropdown-item {
  padding: 0.3rem 0.6rem;
}

.dropdown-post-item {
  font-size: 0.9rem;
  padding: 0.2rem 0.5rem;
}

#logo-icon,
#nav-icon-links {
  vertical-align: top;
}

#logo-icon-footer {
  vertical-align: middle;
}

#nav-icon-links {
  /*color: rgb(184, 8, 8);*/
  color: #0062cc;
}

footer {
  background-color: darkred;
  color: white;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer-header {
  vertical-align: middle;
  color: white;
}

#footer-description {
  font-size: 0.8rem;
}

.footer-links-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.footer-link {
  margin-left: 1rem;
  color: white;
  text-decoration: underline;
}

.footer-link:hover {
  color: black;
}

/* .list-unstyled {
    display: flex;
    justify-content: space-around;
} */

.bs {
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
}

#like-info {
  color: gray;
  padding-top: 1rem;
  vertical-align: middle;
  /*     font-size: 12;
 */
}

.post-footer-left-info {
  color: gray;
  vertical-align: middle;
  font-size: 1rem;
}

.btn-outline-dark:hover {
  color: white !important;
}

.post-detail-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 0.05rem solid black;
  margin-top: 1rem;
  padding-top: 1rem;
}

.post-detail-form-left {
  margin-bottom: 0rem;
}

.post-detail-comments-button:hover {
  color: #428bca;
  text-decoration: none;
  cursor: pointer;
}

.post-condition {
  margin-left: 0.5rem;
  float: right;
}

.badge-success {
  padding: 0.5rem;
  background-color: rgb(10, 143, 10);
}

/* label[for="id_image"] {
  background-color: red;
  color: white;
  padding: 0.2rem;
  border-radius: 0.2rem;
  text-align: center;
  cursor: pointer;
} */

/* input[type="file"] {
  display: none;
} */

.post-form-row {
  display: flex;
  flex-direction: column;
}

.post-form-group {
  margin-bottom: 1rem;
}

.image-hide {
  display: none;
}

.anchor {
  position: absolute;
  transform: translateY(-20vh);
}