{% extends "bookmarket/base.html" %}
{% block title %}About Page{% endblock %}
{% block content %}
{% load static %}
<main>
    <div class="general-section">
        <div class="about-header">
            <h2>Condition guide</h2>
            <p>
                Attaching a condition label to your books can be tricky. That's why we have decided to make a short
                guide explaining the different condition labels presented on this site.
            </p>
        </div>
        <div class="about-body">
            <hr>
            <div class="condition-section">
                <h5>As New</h5>
                <p>Pretty self-explanatory. The <b>As New</b> category is applied to books that look almost as if they
                    have
                    just been printed out. </p>
            </div>
            <hr>
            <div class="condition-section">
                <h5>Very Good</h5>
                <div class="card-deck">
                    <div class="card border-secondary" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'bookmarket/images/good_book.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body mb-2 text-center">
                            <p class="card-text">First Image</p>
                        </div>
                    </div>
                    <div class="card border-secondary" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'bookmarket/images/good_book.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text">Second Image</p>
                        </div>
                    </div>
                    <div class="card border-secondary" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'bookmarket/images/good_book.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text">Thid Image</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="condition-section">
                <h5>Acceptable</h5>
                <div class="card-deck">
                    <div class="card border-secondary" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'bookmarket/images/old_book.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body mb-2 text-center">
                            <p class="card-text">First Image</p>
                        </div>
                    </div>
                    <div class="card border-secondary" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'bookmarket/images/old_book.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text">Second Image</p>
                        </div>
                    </div>
                    <div class="card border-secondary" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'bookmarket/images/old_book.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text">Thid Image</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="condition-section">
                <h5>Mixed</h5>
                <div class="card-deck">
                    <div class="card border-secondary" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'bookmarket/images/very_old_book.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body mb-2 text-center">
                            <p class="card-text">First Image</p>
                        </div>
                    </div>
                    <div class="card border-secondary" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'bookmarket/images/very_old_book.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text">Second Image</p>
                        </div>
                    </div>
                    <div class="card border-secondary" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'bookmarket/images/very_old_book.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body text-center">
                            <p class="card-text">Thid Image</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
{% endblock content %}