{% load staticfiles %}
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'bookmarket/main.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="body-body">
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-red  fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="{% url 'app-home' %}"><i id="logo-icon"
                            class="material-icons">bookmarks</i> Bookmarket</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                        aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <div class="dropdown">
                                <button class="btn btn-danger dropdown-toggle" id="dropdown-left" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Links</button>
                                <div class="dropdown-menu dropdown-primary">
                                    <a class="dropdown-item" href="/about"><i id="nav-icon-links"
                                            class="material-icons">description</i> About</a>
                                    <a class="dropdown-item" href="//github.com/deslay1/book_app"><i id="nav-icon-links"
                                            class="material-icons">backup</i> Github</a>
                                </div>
                            </div>
                            {% if user.is_superuser %}
                            <a class="nav-item nav-link" href="/admin">Admin</a>
                            {% endif %}
                        </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav">
                            {% if user.is_authenticated %}
                            <div class="dropdown">
                                <button class="btn btn-danger dropdown-toggle" id="dropdown-right"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span
                                        class="glyphicon glyphicon-search" aria-hidden="true"></span> Account</button>
                                <div class="dropdown-menu dropdown-primary">
                                    <a class="dropdown-item" href="/show_message"><i id="nav-icon-links"
                                            class="material-icons">message</i>
                                        Messages</a>
                                    <a class="dropdown-item" href="/profile"><i id="nav-icon-links"
                                            class="material-icons">account_circle</i>
                                        Profile</a>
                                </div>
                            </div>
                            <a class="nav-item nav-link" href="/logout">Logout</a>

                            {% else %}
                            <a class="nav-item nav-link" href="/login">Login</a>
                            <a class="nav-item nav-link" href="/register">Register</a>


                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main role="main" class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    {% if messages %}
                    {% for message in messages%}
                    <div class="alert alert-{{message.tags}}">
                        Login succeeded. Have a pleasant stay!
                    </div>
                    {%endfor%}
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
                <!-- <div class="col-md-4">
                <div class="content-section">
                    <h3>Our Sidebar</h3>
                    <p class='text-muted'>You can put any information here you'd like.
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light">Latest Posts</li>
                            <li class="list-group-item list-group-item-light">Announcements</li>
                            <li class="list-group-item list-group-item-light">Calendars</li>
                            <li class="list-group-item list-group-item-light">etc</li>
                        </ul>
                    </p>
                </div>
            </div> -->
            </div>
        </main>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small stylish-color-dark pt-4 ">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <h5 id="footer-header" class="font-weight-bold mt-1 mb-2"><i id="logo-icon"
                            class="material-icons">bookmarks</i> Bookmarket</h5>
                    <p>Developed using the Django web framework built on python.</p>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-2 mx-auto">
                    <h5 id="footer-header" class="font-weight-bold mt-1 mb-4">Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-primary btn-sm active" href="/about">About</a> || <a
                                class="btn btn-primary btn-sm active" href="//github.com/deslay1/book_app">Github</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <hr>
        <ul class="list-unstyled list-inline text-center py-3">
            <li class="list-inline-item">
                Main page: <a class="btn btn-primary btn-sm active" href=""> Bookmarket.com</a> &ensp;||
            </li>
            <li class="list-inline-item">
                <a href="/register" class="btn btn-primary btn-sm active btn-rounded">Click here to sign up!</a>
            </li>
        </ul>
    </footer>
    <!--     <footer class="page-footer font-small stylish-color-dark mt-2 ">
        <ul class="list-unstyled list-inline text-center py-3">
            <li class="list-inline-item">
                <h5 id="footer-header" class="font-weight-bold mt-1 mb-2"><i id="logo-icon"
                        class="material-icons">bookmarks</i> Bookmarket</h5>
                <small>
                    <p>Developed using the Django web framework built on python.</p>
                </small>
            </li>
            <li class="list-inline-item">
                <h5 id="footer-header" class="mt-1 mb-2">Main page: <a class="btn btn-primary btn-sm active" href="">
                        Bookmarket.com</a></h5>
                <h5 id="footer-header" class="mt-1 mb-2">Sign Up: <a href="/register"
                        class="btn btn-primary btn-sm active btn-rounded">Click here to sign up!</a></h5>
            </li>
        </ul>
    </footer> -->

    <script src="{% static 'bookmarket/scripts.js' %}"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>