{% extends "bookmarket/base.html" %}
{% block title %} Confirm Delete: {{object.title}} {% endblock %}
{% block content %}
<div class="col-6 offset-3 content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="bordor-bottom mb-4" style="border-bottom: 0.05rem solid black">Delete Post</legend>
            <h5>Are you sure you want to delete your post: <b>{{ object.title }}</b> ? </h5>
        </fieldset>
        <div class="row justify-content-between form-group post-delete-buttons">
            <button class="col-5 btn btn-outline-danger" type="submit">Yes</button>
            <a class="col-5 btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}