{% extends "bookmarket/base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}
{% load static %}
<main>
    <div class=" col-md-8 mx-auto general-section">
        <div class="about-header">
            <h4 style="text-align: center;" class="pb-3"><strong>Our privacy policy</strong></h4>
            <p>
                Here we will post information about our privacy policy.
            </p>
        </div>
        <div class="about-body">
            <hr>
            <div class="general-header-container">
                <h5>Introduction</h5>
                <p>What this platform is used for.</p>
            </div>
            <hr>
            <div class="general-header-container">
                <h5>Data Usage</h5>
                <p>What kind of information do we collect?</p>
            </div>
            <hr>
            <div class="general-header-container">
                <h5>User Interactions</h5>
                <p>How a registered user interacts with the functionality on this platform.</p>
            </div>
            <hr>
        </div>
    </div>
</main>
{% endblock content %}