{% extends "bookmarket/base.html" %}
{% block title %} Message Inbox {% endblock %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        {% for message in post_List %}
        <article class="media content-section">
            <div>
                {% if message.comuser %}
                Message from <a href="/profile/"> {{ message.comuser.first_name }}
                    {{ message.comuser.last_name }}</a> regarding
                <img class="rounded-circle article-img" src="{{ message.comuser.profile.image.url }}">
                {% if message.comuser.first_name %}

                {% else %}
                {% endif %}
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-detail' message.post.id %}">This
                    post</a>
                {% endif %}
                <small>{{ message.date_posted|date:"M d, H:i" }}</small>
                <br>
                <div class="new">
                    <h2 class="account-heading">{{message.content }}</h2>
                </div>
            </div>
        </article>

        {% empty %}
        <div class="bs">
            <h2>You have no messages!</h2>
        </div>

        {%endfor%}

        {% if post_List %}
        {% if post_List.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ post_List.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in post_List.paginator.page_range %}
        {% if post_List.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > post_List.number|add:'-3' and num < post_List.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}
        {% if post_List.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ post_List.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ post_List.paginator.num_pages }}">Last</a>
        {% endif %}
        {% endif %}

    </div>
</article>

{% endblock content %}