{% extends 'bookmarket/base.html' %}
{% block title %} Update Comment {% endblock %}

{% block content %}
<div class="card bg-light mb-12">
    <div id="add-comment-header" class="card-header">
        <h3>Update Comment</h3>
    </div>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="card-body">
            <div class="add-comment-form">
                {{ form.as_p }}
            </div>
        </div>
        <div class="add-comment-button">
            <button type="submit" class="btn btn-primary active">Update Comment</button>
        </div>
    </form>
</div>
{% endblock %}