/.vscode/*
*.pyc
db.sqlite3
*.log
local_settings.py
db.sqlite3-journal

venv/
bookAppEnv/
media/post_pics/*
media/profile_pics/*

__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
dist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

pip-log.txt
pip-delete-this-directory.txt


