{% extends "bookmarket/base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block content %}
<center>

    <div class="col-md-6 mx-auto" style="color: white;" id="postman">
        <h1 style="color: white;">{% block pm_write_title %}{% endblock %}</h1>
        <form style="color: white;" action="{% if next_url %}?next={{ next_url|urlencode }}{% endif %}" method="post">
            {% csrf_token %}
            <table>
                {% block pm_write_recipient %}{% endblock %}
                {{ form|bootstrap }}
            </table>
            <button class="btn btn-primary active col-md-2" type="submit"
                onclick="this.disabled=true;this.value='Sending, please wait...';this.form.submit();">{% trans "Send" %}
                <a href="{% url "postman:inbox" %}"></a> </button>
        </form>
    </div>

</center>

{% endblock %}