{% extends "bookmarket/base.html" %}
{% load i18n postman_tags %}{% load pagination_tags %}{% comment %}
WARNING: 'pagination_tags' is a name from the dj-pagination application.
For convenience, the design of this template is done with the use of that application.
Django-postman will still be working, even if that application is not installed, by providing a mock
for the template tag library.
If the real implementation is to be used, just make sure that 'dj_pagination' is declared before 'postman'
in the INSTALLED_APPS setting.
{% endcomment %}

{% block content %}


<center>



   {% if messages %}
   {% for message in messages%}
   <div class="alert alert-info" id="expl"
      style="color: transparent; background-color: transparent; border-width:0px; margin-top: 1rem;">
      <h5 style=" color: #a33003; align-self: center; align-content: center; text-align: center; "> {{message}}</h5>

   </div>
   {%endfor%}
   {%else%}




   <div class="alert alert-info" id="expl"
      style="color: #a33003; background-color: transparent; border-width:0px; margin-top: 1rem; vertical-align: middle;">
      <h5 style=" color: #a33003; align-self: center; align-content: center; text-align: center; "> Click on the
         username
         to
         view the user's profile or the
         subject title to open the chat.</h5>

   </div>


   {%endif%}



   <script>
      setTimeout(fade_out, 5000);

      function fade_out() {
         $("#expl").fadeOut().empty();
      }
   </script>

   <div>
      <h2 style="  color: white; font-weight: bold;

      font: bold;  margin-bottom: 3rem; margin-top: 3rem;">
         {% block pm_folder_title %}{% endblock %}</h2>
      {% autopaginate pm_messages %}
      {% if invalid_page %}
      <p>{% trans "Sorry, this page number is invalid." %}</p>
      {% else %}
      {% if pm_messages %}
      {% block pm_by_modes %}{% endblock pm_by_modes %}





      <form action="{% block pm_form_action %}{% endblock %}" method="post">{% csrf_token %}

         <table class="table table-hover table-dark " style="text-align: center; color: black; margin-bottom: 0px;">

            <thead class="thead-light" style="text-align: center;">
               <tr>

                  {% block pm_sender_header %}

                  <th style='background-color: #dee2e6; text-align:center;vertical-align:middle'>
                     <h4 style="   font-weight: bold;

                     font: bold; align-self: center; align-content: center; text-align: center;">
                        {% trans "Sender" %}
                     </h4>
                  </th>

                  {% endblock %}
                  {% block pm_recipient_header %}
                  <th style='background-color: #dee2e6; text-align:center;vertical-align:middle'>
                     <h4 style="   font-weight: bold;

                     font: bold; align-self: center; align-content: center; text-align: center;">
                        {% trans "Recepient" %}
                     </h4>
                  </th>
                  {% endblock %}



                  <th style='background-color: #dee2e6; text-align:center;vertical-align:middle'>
                     <h4 style="   font-weight: bold;

                     font: bold; align-self: center; align-content: center; text-align: center;">
                        {% trans "Subject" %}
                     </h4>
                  </th>


                  <th style='background-color: #dee2e6; text-align:center;vertical-align:middle'>
                     <h4 style="   font-weight: bold;

                     font: bold; align-self: center; align-content: center; text-align: center;">
                        {% block pm_date %}{% trans "Date" %}{% endblock %}
                        </4h>
                  </th>

            </thead>
            <tbody>
         </table>
         <div style=" min-height: 15rem; max-height: 35rem;;overflow:auto;">

            <table class="table table-hover table-light" style="margin-top: 0px;">


               {% for message in pm_messages %}
               <tr style="color: black;">
                  <a style="color: black;">
                     <td><input type="checkbox" {% if by_conversation and message.thread_id %}name="tpks"
                           value="{{ message.thread_id }}" {% else %}name="pks" value="{{ message.pk }}" {% endif %}>
                     </td>
                     {% block pm_sender_cell %}
                     <td style="color: black;">

                        <a style="color:black " href="/profileUserName/{{ message.obfuscated_sender}}/in">

                           <h5>
                              {{ message.obfuscated_sender|or_me:user }}{% if message.count %}
                              ({{ message.count }}){% endif %}
                           </h5>
                        </a>
                     </td>{% endblock %}

                     {% block pm_recipient_cell %}
                     <td style="color:black">
                        <a style="color:black" href="/profileUserName/{{ message.obfuscated_recipient}}/s">
                           <h5>
                              {{ message.obfuscated_recipient|or_me:user }}{% if message.count %}({{ message.count }}){% endif %}
                           </h5>
                        </a>

                     </td>{% endblock %}

                     <td style="color:red">
                        {% if message.is_new %}<strong>{% endif %}{% if message.is_replied %}<em>{% endif %}
                              {% block pm_subject %}

                              <a id="changeThis" style="color:black">
                                 <h5>
                                    {% include "postman/inc_subject_ex.html" %}

                                 </h5>
                              </a>


                              <script>
                                 if ('{{ message.count }}' == 0) {
                                    var name2 = '{{ user }}';
                                    var name = '{{ message.sender }}';
                                    if (name == name2) {
                                       document.getElementById('changeThis').href =
                                          "{% url 'postman:view' message.pk %}";
                                       document.getElementById('changeThis').id = "old";
                                    } else {
                                       document.getElementById('changeThis').href =
                                          "{% if by_conversation and message.thread_id %}{% url 'postman:view_conversation' message.thread_id %}?next={% url 'postman:view_conversation' message.thread_id %}{% else %}{% url 'postman:view' message.pk %}?next={% url 'postman:view_conversation' message.pk %}{% endif %}";
                                       document.getElementById('changeThis').id = "old";


                                    }
                                 } else {
                                    document.getElementById('changeThis').href =
                                       "{% if by_conversation and message.thread_id %}{% url 'postman:view_conversation' message.thread_id %}?next={% url 'postman:view_conversation' message.thread_id %}{% else %}{% url 'postman:view' message.pk %}?next={% url 'postman:view_conversation' message.pk %}{% endif %}";
                                    document.getElementById('changeThis').id = "old";

                                 }
                              </script>
                              {% endblock %}
                              {% if message.is_replied %}
                           </em>{% endif %}{% if message.is_new %}</strong>{% endif %}
                     </td>
                     <td style="color:black">

                        <h5>
                           {{ message.sent_at|compact_date:_("g:i A,M j,n/j/y") }}

                        </h5>

                     </td>
                  </a>

                  <a class="bs-row-link" href="/your-link-here"></a>












               </tr>{% endfor %}
               </tbody>
            </table>

         </div>


         {% block pm_form_buttons %}<span id="pm_buttons">
            {% block pm_delete_button %}
            <button style="margin-top:1rem;" class="btn btn-primary" type="submit"
               onclick="this.form.action='{% url 'postman:delete' %}'">Delete message</button>{% endblock %}


            <a style="margin-top:1rem; color: white; " href="/" class="btn btn-primary2">{% trans "Back" %}</a>

         </span>

         {% endblock %}

      </form>
</center>
{% paginate %}
{% else %}
<p style="color: white;">{% trans "No messages." %}</p>
{% endif %}
{% endif %}

{% block pm_footer_info %}{% endblock %}

{% endblock content %}