{% extends "bookmarket/base.html" %}
{% load i18n postman_tags %}{% load pagination_tags %}{% comment %}
WARNING: 'pagination_tags' is a name from the dj-pagination application.
For convenience, the design of this template is done with the use of that application.
Django-postman will still be working, even if that application is not installed, by providing a mock
for the template tag library.
If the real implementation is to be used, just make sure that 'dj_pagination' is declared before 'postman'
in the INSTALLED_APPS setting.
{% endcomment %}

{% block content %}


<center>

   <div>
      <h1 class="card3">{% block pm_folder_title %}{% endblock %}</h1>
      {% autopaginate pm_messages %}
      {% if invalid_page %}
      <p>{% trans "Sorry, this page number is invalid." %}</p>
      {% else %}
      {% if pm_messages %}
      {% block pm_by_modes %}{% endblock pm_by_modes %}


      <form action="{% block pm_form_action %}{% endblock %}" method="post">{% csrf_token %}

         <table class="table table-hover table-dark">

            <thead>
               <tr>
                  <th><a></a></th>
                  {% block pm_sender_header %} <th><a>{% trans "Sender" %}</a></th>{% endblock %}
                  {% block pm_recipient_header %} <th><a>{% trans "Recipient" %}</a></th>{% endblock %}
                  <th><a>{% trans "Subject" %}</a></th>
                  <th><a>{% block pm_date %}{% trans "Date" %}{% endblock %}</a></th>
               </tr>
            </thead>
            <tbody>

               {% for message in pm_messages %}
               <tr
                  href="{% if by_conversation and message.thread_id %}{% url 'postman:view_conversation' message.thread_id %}{% else %}{% url 'postman:view' message.pk %}{% endif %}?next={{ current_url|urlencode }}">
                  <a
                     href="{% if by_conversation and message.thread_id %}{% url 'postman:view_conversation' message.thread_id %}{% else %}{% url 'postman:view' message.pk %}{% endif %}?next={{ current_url|urlencode }}"></a>

                  <td><input type="checkbox" {% if by_conversation and message.thread_id %}name="tpks"
                        value="{{ message.thread_id }}" {% else %}name="pks" value="{{ message.pk }}" {% endif %}></td>
                  {% block pm_sender_cell %}
                  <td style="color:white">

                     <a style="color:white"
                        href="/profileUserName/{{ message.obfuscated_sender}}/in">{{ message.obfuscated_sender|or_me:user }}{% if message.count %}
                        ({{ message.count }}){% endif %}</a>
                  </td>{% endblock %}
                  {% block pm_recipient_cell %}
                  <td style="color:white">
                     <a style="color:white"
                        href="/profileUserName/{{ message.obfuscated_recipient}}/s">{{ message.obfuscated_recipient|or_me:user }}{% if message.count %}
                        ({{ message.count }}){% endif %}</a>

                  </td>{% endblock %}
                  <td style="color:red">
                     {% if message.is_new %}<strong>{% endif %}{% if message.is_replied %}<em>{% endif %}
                           {% block pm_subject %}
                           <a style="color:white"
                              href="{% if by_conversation and message.thread_id %}{% url 'postman:view_conversation' message.thread_id %}{% else %}{% url 'postman:view' message.pk %}{% endif %}?next={{ current_url|urlencode }}">
                              {% include "postman/inc_subject_ex.html" %}
                           </a>
                           {% endblock %}
                           {% if message.is_replied %}</em>{% endif %}{% if message.is_new %}</strong>{% endif %}</td>
                  <td style="color:white">{{ message.sent_at|compact_date:_("g:i A,M j,n/j/y") }}</td>
                  </a>

                  <a class="bs-row-link" href="/your-link-here"></a>

               </tr>{% endfor %}
            </tbody>
         </table>


         {% block pm_form_buttons %}<span id="pm_buttons">
            {% block pm_delete_button %}
            <button type="submit" class="pm_btn pm_btn-delete"
               onclick="this.form.action='{% url 'postman:delete' %}'">Delete message</button>{% endblock %}
            <a href="/">{% trans "Back" %}</a>
         </span>

         {% endblock %}

      </form>
</center>
{% paginate %}
{% else %}
<p style="color: white;">{% trans "No messages." %}</p>
{% endif %}
{% endif %}

{% block pm_footer_info %}{% endblock %}

{% endblock content %}