{% extends "bookmarket/base.html" %}

{% load i18n postman_tags %}{% load pagination_tags %}{% comment %}
WARNING: 'pagination_tags' is a name from the dj-pagination application.
For convenience, the design of this template is done with the use of that application.
Django-postman will still be working, even if that application is not installed, by providing a mock
for the template tag library.
If the real implementation is to be used, just make sure that 'dj_pagination' is declared before 'postman'
in the INSTALLED_APPS setting.
{% endcomment %}

{% load bootstrap %}
{% load i18n %}
{% load bootstrap %}

{% load i18n %}{% load postman_tags %}
{% block content %}

<center>
    <div class=commentArea3 id="thisOne1"
        style="color: black; height: auto; align-items: center;  text-align: center;  ">



    </div>

    <div class=commentArea2 id="thisOne2"
        style="color: black; height: auto; align-items: center;  text-align: center;  ">


        {% if pm_messages|length > 1 %}{% trans "Conversation" %}{% else %}{% trans "Message" %}{% endif %}

    </div>




    <div id="scroller" class="commentArea" style="overflow-y: scroll;">


        {% for message in pm_messages %}


        <div id="myDiv" style='border:2px solid;color:white; ' class="bubbledLeft">

            {{ message.body|linebreaksbr }}


        </div>
        {% if forloop.last %}
        <form action="" method="post">{% csrf_token %}
            <input type="hidden" {% if pm_messages|length > 1 and message.thread_id %}name="tpks"
                value="{{ message.thread_id }}" {% else %}name="pks" value="{{ message.pk }}" {% endif %} />

            <span id="pm_buttons">

            </span>

        </form>



        {% endif %}


        <script>
            var name2 = '<me>';
            var name = '{{ message.obfuscated_sender|or_me:user }}';
            if (name < name2) {
                document.getElementById('myDiv').className = "bubbledRight";
                document.getElementById('myDiv').id = "old";
                document.getElementById('thisOne1').textContent = '{{ message.obfuscated_recipient|or_me:user }}';

                document.getElementById('thisOne2').textContent = "  Subject: " + "{{ message.subject }}";
            }
            else {
                document.getElementById('myDiv').className = "bubbledLeft";
                document.getElementById('myDiv').id = "old";
                document.getElementById('thisOne1').textContent = '{{ message.obfuscated_sender|or_me:user }}';
                document.getElementById('thisOne2').textContent = "  Subject: " + "{{ message.subject }}";
            }

        </script>

        {% endfor %}
        <script>

            var objDiv = document.getElementById("scroller");
            objDiv.scrollTop = objDiv.scrollHeight;
        </script>

    </div>

    <div class="commentArea4">{% if reply_to_pk %}
        <hr />
        <form action="{% url 'postman:reply' reply_to_pk %}?next={{ this_url|urlencode }}" method="post">
            {% csrf_token %}
            <div id="pm_reply">{{ form.body }}</div>
            <button type="submit" class="btn btn-primary">Reply</button>
            <a href="{{ next_url }}">{% trans "Back" %}</a>

        </form>
        {% endif %}

    </div>

</center>

{% endblock %}