{% extends "bookmarket/base.html" %}

{% load i18n postman_tags %}{% load pagination_tags %}{% comment %}
WARNING: 'pagination_tags' is a name from the dj-pagination application.
For convenience, the design of this template is done with the use of that application.
Django-postman will still be working, even if that application is not installed, by providing a mock
for the template tag library.
If the real implementation is to be used, just make sure that 'dj_pagination' is declared before 'postman'
in the INSTALLED_APPS setting.
{% endcomment %}

{% load bootstrap %}
{% load i18n %}
{% load bootstrap %}

{% load i18n %}{% load postman_tags %}
{% block content %}


<div id="thisOnes"></div>
<center>

    <div class="activity-section" style="margin-top: 0px; margin-bottom: 0px;">
        <hr style="margin-top: 0px; color: black; background-color: black;" />

        <h5 id="thisOne1" style="color: black; height: auto; align-items: center;  text-align: center;  ">

        </h5>
        <hr style=" color: black; background-color: black; margin-bottom: 0px;" />
        <div id="scroller" class="commentArea6" style="overflow-y: scroll; background-color: whitesmoke;">


            {% for message in pm_messages %}


            <div id="myDiv" style='border:2px solid;color:white;  ' class="bubbledLeft">

                {{ message.body|linebreaksbr }}


            </div>
            {% if forloop.last %}
        </div>
    </div>
    <div class="activity-section2" style="background-color: whitesmoke;">


        {% if pm_messages|length > 1 %} <form id="formwrap"
            style="margin-right: 0.5rem;margin-left: 0.5rem; margin-top: 1rem; margin-block-end: 0em;  background-color:whitesmoke;"
            action="{% url 'postman:reply' reply_to_pk %}?next=" method="post">{% csrf_token %}



            <div id="pm_reply">{{ form.body }}
            </div>


            <button class="btn btn-primary" style=" margin-bottom: 0.5rem;margin-top: 0.5rem;"
                type="submit">Send</button>


            <a style=" margin-bottom: 0.5rem;margin-top: 0.5rem; background-color: gray; color: white;"
                class="btn btn-primary2" href="{% url 'postman:inbox' %}">{% csrf_token %} {% trans "Back" %}</a>


        </form>


        {% else %}
        {% if message.sender == user %}

        <form id="formwrap" onloadeddata="myFunction()" onsubmit="myFunction()"
            style="margin-right: 0.5rem;margin-left: 0.5rem; margin-top: 1rem; margin-bottom:1 rem;   background-color:whitesmoke;">
            {% csrf_token %}


            <h5 id="thisOne1" style="color: black; height: auto; align-items: center;  text-align: center;  ">


                You have to wait for an answer to write again

            </h5>

        </form>

        {% else %}

        <form id="formwrap" action="{% url 'postman:reply' reply_to_pk %}?next={{ next_url|urlencode }}" method="post"
            style="margin-right: 0.5rem;margin-left: 0.5rem; margin-top: 1rem; margin-block-end: 0em;  background-color:whitesmoke;"
            onloadeddata="myFunction()" onsubmit="myFunction()">{% csrf_token %}



            <div id="pm_reply">{{ form.body }}
            </div>



            <button style=" margin-bottom: 0.5rem;margin-top: 0.5rem;" class="btn btn-primary"
                type="submit">Send</button>


            <a style=" margin-bottom: 0.5rem;margin-top: 0.5rem; background-color: gray; color: white;"
                class="btn btn-primary2" type="submit" href="{% url 'postman:inbox' %}">{% trans "Back" %}</a>


        </form>

        {% endif %}





        {% endif %}







        {% endif %}


        <script>



            var name2 = '{{ user }}';
            var name = '{{ message.sender }}';
            var h = name.localeCompare(name2);
            if (name == name2) {
                document.getElementById('myDiv').className = "bubbledRight";
                document.getElementById('myDiv').id = "old";
                document.getElementById('thisOne1').textContent = "User: " + '{{ message.obfuscated_recipient|or_me:user }}' + "  |  Subject: " + "{{ message.subject }}";




            }
            else {
                document.getElementById('myDiv').className = "bubbledLeft";
                document.getElementById('myDiv').id = "old";
                document.getElementById('thisOne1').textContent = '{{ message.obfuscated_sender|or_me:user }}' + "  |  Subject: " + "{{ message.subject }}";
            } </script>





        {% endfor %}
        <script>

            var objDiv = document.getElementById("scroller");
            objDiv.scrollTop = objDiv.scrollHeight;
        </script>




    </div>


</center>


{% endblock %}