{% extends "bookmarket/base.html" %}
{% block title %}Reset Password{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-6 mx-auto content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="bordor-bottom mb-4" style="text-align: center;">Reset Password</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group" style="text-align: center;">
            <button class="btn btn-primary active" type="submit">Request password reset</button>
        </div>
    </form>
</div>
{% endblock content %}