{% extends "bookmarket/base.html" %}
{% block title %} Profile{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <div class="col-5 h-100 w-100 content-section">
    <div class="media">
      {% if user.profile.image == "default.jpg" %}
      <h5 id="no-images">You dont <br> have a profile <br> picture yet</h5>
      {% else %}
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      {% endif %}
      <div class="media-body">
      </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="bordor-bottom mb-4">Profile Info</legend>
        {{ u_form|crispy }}
        {{ p_form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Update</button>
      </div>
    </form>
  </div>
  <div class="col-md-7 w-100">
    <div>
      {% for post in post_List %}
      <article class="content-section">
        <div class="media-body">
          <div class="article-metadata">
            <div class="post-admin justify-content-between">
              <div>
                <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" />
                {% if post.author.first_name and post.author.last_name %}
                <div style="display:flex;flex-direction: column;">
                  <a class="mr-2" href="/profile/">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                  <small class="text-muted">{{ post.date_posted|date:"F d, Y H:i" }}</small>
                </div>
                {% else %}
                <a class="mr-2" href="/profile/">{{ post.author }}</a>
                {% endif %}
              </div>
              <div>
                <a class="post-button" href="{% url 'post-update' post.id %}">Update</a>
                <a class="post-button" style="color: red;" href="{% url 'post-delete' post.id %}">Delete</a>
              </div>

            </div>
            <div class="col-14 justify-content-between post-button-container">
              <h6 id="post-type">{{ post.SellerOrBuyer }}</h6>
            </div>
          </div>
          <div class="col-14 post-information">
            <div class="col-12 row justify-content-between">
              <h4 class="article-title">{{ post.title }}</h4>

              <div class="row justify-content-center align-items-center">
                {% if post.price == 0.00 %}
                <h5 class="post-price">Free</h5>
                {% else %}
                <h5 class="post-price">{{ post.price|floatformat:"-2" }} kr</h5>
                {% endif %}
                {% if post.Condition %}
                <h6 class="post-condition">
                  <span class="badge badge-pill badge-success">{{ post.Condition }}</span>
                </h6>
                {% else %}
                <h6 class="post-condition">
                  <span class="badge badge-pill badge-success">Unspecified</span>
                </h6>
                {% endif %}
              </div>
            </div>
            {% if post.image %}
            <div class="carousel">
              <div id="carousel-{{post.id}}" class="carousel w-50 mx-auto slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  {% if post.image and post.image2 %}
                  <li data-target="#carousel-{{post.id}}" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-{{post.id}}" data-slide-to="1"></li>
                  {% endif %}
                  {% if post.image3 %}
                  <li data-target="#carousel-{{post.id}}" data-slide-to="2"></li>
                  {% endif %}
                </ol>
                <div class="carousel-inner">
                  {% if post.image %}
                  <div class="carousel-image-container carousel-item active">
                    <img class="carousel-image rounded img-fluid d-block mx-auto" src="{{ post.image.url }}" width="200"
                      height="400" alt="First slide" />
                    <a class="carousel-image-caption btn btn-primary" href="{% url 'post-detail' post.id %}">View
                      post</a>
                  </div>
                  {% endif %}
                  {% if post.image2 %}
                  <div class="carousel-image-container carousel-item ">
                    <img class="carousel-image rounded img-fluid d-block mx-auto" src="{{ post.image2.url }}"
                      width="200" height="400" alt="Second slide">
                    <a class="carousel-image-caption btn btn-primary" href="{% url 'post-detail' post.id %}">View
                      post</a>
                  </div>
                  {% endif %}
                  {% if post.image3 %}
                  <div class="carousel-image-container carousel-item">
                    <img class="carousel-image rounded img-fluid d-block mx-auto" src="{{ post.image3.url }}"
                      width="200" height="400" alt="Third slide">
                    <a class="carousel-image-caption btn btn-primary" href="{% url 'post-detail' post.id %}">View
                      post</a>
                  </div>
                  {% endif %}
                </div>
                {% if post.image2 or post.image3 %}
                <a class="carousel-control-prev" href="#carousel-{{post.id}}" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-{{post.id}}" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                {% endif %}
              </div>
            </div>
            {% endif %}
            <div class="row justify-content-between post-footer">
              <h6 class="col-4" id="like-info">{{ post.likes.count }} Like{{ post.likes.count|pluralize }}</h6>
              <div class="col-8">
                <a class="float-right" href=" {% url 'post-detail' post.id %}"> View
                  comments
                  ({{ post.comments.count }})</a>
              </div>
            </div>
          </div>
      </article>
      {% endfor %}
      {% if post_List %}
      {% if post_List.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ post_List.previous_page_number }}">Previous</a>
      {% endif %}
      {% for num in post_List.paginator.page_range %}
      {% if post_List.number == num %}
      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > post_List.number|add:'-3' and num < post_List.number|add:'3' %}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
      {% endfor %}
      {% if post_List.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ post_List.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ post_List.paginator.num_pages }}">Last</a>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}