{% extends "bookmarket/base.html" %} {% block title %}Register{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-md-8 mx-auto content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend style="text-align: center;" class="border-bottom pb-2 mb-4">Register Account</legend>
            <div class="form-row">
                <div class="form-group col-6 mb-0">
                    {{ form.username|as_crispy_field }}
                </div>
                <div class="form-group col-6 mb-0">
                    {{ form.email|as_crispy_field}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6 mb-0">
                    {{ form.first_name|as_crispy_field}}
                </div>
                <div class="form-group col-6 mb-0">
                    {{ form.last_name|as_crispy_field}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6 mb-0">
                    {{ form.password1|as_crispy_field}}
                </div>
                <div class="form-group col-6 mb-0">
                    {{ form.password2|as_crispy_field}}
                </div>
            </div>
            {{ form.category|as_crispy_field}}
        </fieldset>
        <div class="col-md-4 mx-auto form-group">
            <button class="col-md-12 btn btn-primary" type="">Sign up</button>
        </div>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" required />
        <label for="vehicle1"> I have read and accepted the</label>
        <a id="byBtn" href="#" data-toggle="modal" data-target="#myModal"> privacy policy</a>* <br />
        <!-- Trigger/Open The Modal -->
    </form>
    <div class="border-top pt-3">
        <small class="text-muted"> Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Log In</a> </small>
    </div>
</div>
<div class="modal fade mt-1 mb-1" id="myModal" role="dialog">
    <div class="modal-dialog col-md-10 mx-auto content-section">
        <!-- Modal content-->
        <div class="modal-content"
            style="text-align: left; height: fit-content; align-content: flex-start; vertical-align: middle;">
            <div class="modal-header" style="background-color: #c63f2a; color: white;">
                <h2 id="footer-header" class="" style="margin-top: 3px; height: fit-content; vertical-align: center;">
                    <h3 id="logo-icon-footer" style="color: white;" class="material-icons">privacy_tip</h3>
                    Privacy Policy
                </h2>
                <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
            </div>
            <div id="privacy-policy-content" class="modal-body">
                {% include "content/privacy_policy_content.html" %}
            </div>
            <div class="modal-footer" style="background-color: #c63f2a; color: white;">
                <h2 id="footer-header" class="" style="margin-top: 3px; height: fit-content; vertical-align: center;">
                    <h3 id="logo-icon-footer" style="color: white;" class="material-icons">bookmarks</h3>
                    Bookmarket
                </h2>
            </div>
        </div>
    </div>
</div>
{% endblock content %}