<h4 class="mb-3 pt-2 border-top">Introduction</h4>

<p>One of our main priorities at Bookmarket is the privacy of our visitors.
    Below you will find more information about how we use and store your information.</p>
<p>If you have additional questions or require more information about our
    Privacy Policy, please do not
    hesitate to contact us via the link on the bottom of our website.</p>
<p>If you contact us directly, we will only receive your email address and the contents of the message
    that you send us. Your email address will be used to contact you.</p>
<p>This Privacy Policy applies only to our online activities and is valid for
    visitors to our
    website with regards to the information that they shared and/or collect in
    Bookmarket. This
    policy is not applicable to any information collected offline or via
    channels other than
    this
    website.</p>

<h4 class="mb-3 pt-2 border-top">How we use your information</h4>
<p>We use the information we collect in various ways, including to:</p>
<ul>
    <li>Provide, operate, and maintain our website</li>
    <li>Understand and analyze how you use our website</li>
    <li>Optimize our services, features, and functionality</li>
    <li>Send you emails, depending on your chosen preferences, about certain notifications</li>
</ul>
<br />
<h4 class="mb-3 pt-2 border-top">Session cookies</h4>
<p>Bookmarket, like any other website uses 'cookies'. These cookies are used to
    store information about our visitors, such as:
</p>
<ul>
    <li>The visitors' preferences</li>
    <li>The pages on the website that the
        visitors access</li>
</ul>
<br />
<p>Cookies are stored from the active session of our visitors to optimize their experience by customizing our web
    page content based on the visitors' browser type and/or other information.</p>

<p>For more general information on cookies, please read
    <a href="https://www.cookieconsent.com/what-are-cookies/">"WhatAreCookies"</a>.</p>


<h4 class="mb-3 pt-2 border-top">GDPR Data Protection Rights</h4>
<ul>
    <li>
        <p>We would like to make sure you are fully aware of all of your data protection
            rights. Every
            user
            is entitled to the following:</p>
    </li>
    <li>
        <p>The right to access – You have the right to request copies of your personal
            data. We may
            charge
            you a small fee for this service.</p>
    </li>
    <li>
        <p>The right to rectification – You have the right to request that we correct
            any information
            you
            believe is inaccurate. You also have the right to request that we complete
            the information
            you
            believe is incomplete.</p>
    </li>
    <li>
        <p>The right to erasure – You have the right to request that we erase your
            personal data, under
            certain conditions.</p>
    </li>
    <li>
        <p>The right to restrict processing – You have the right to request that we
            restrict the
            processing
            of your personal data, under certain conditions.</p>
    </li>
    <li>
        <p>The right to object to processing – You have the right to object to our
            processing of your
            personal data, under certain conditions.</p>
    </li>
    <li>
        <p>The right to data portability – You have the right to request that we
            transfer the data that
            we
            have collected to another organization, or directly to you, under certain
            conditions.</p>
    </li>
    <li>
        <p>If you make a request, we have one month to respond to you. If you would like
            to exercise any
            of
            these rights, please contact us.</p>
    </li>
</ul>